<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/commons.css"> 
        <title>THE DU(C)KE'S</title>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="nav-bar">
                    <div class="logo">
                        <img src="" width="125px">
                    </div>
                    <nav>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Products</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Log in</a></li>
                        </ul>
                    </nav>
                    <img width="20" height="20" src="https://img.icons8.com/ios/50/shopping-bag--v1.png" alt="shopping-bag--v1"/>
                </div>   
                <div class="row">
                    <div class="col-2">
                        <h1>The best prices on the web!</h1>
                        <p>Become a Du(c)ke with us and create an account for online purchases</p>
                        <a href="" class="btn">Sign in &#8594;</a>
                    </div>
                    <div class="col-2">
                        <img src="../img/home_page.png">
                    </div>
                </div>  
            </div>
        </div>
        
        <!--Features categories-->
        <div class="categories">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <img src="../img/air-jordan-1.jpg">
                    </div>
                    <div class="col-3">
                        <img src="../img/sudadera.jpg">
                    </div>
                    <div class="col-3">
                        <img src="../img/pantalon.png">
                    </div>
                </div>
            </div>          
        </div>

         <!--Features products-->
         <div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../img/air-jordan-black.jpg" alt="">
                    <h4>Air Jordan Black force</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="../img/air-jordan-gold.jpg" alt="">
                    <h4>Air Jordan Gold force</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$60.00</p>
                </div>
                <div class="col-4">
                    <img src="../img/air-jordan-rb.jpg" alt="">
                    <h4>Air Jordan Black/Red force</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$45.00</p>
                </div>
            </div>

            <!--Latest Products-->
            <h2 class="title">Latest Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../img/pants.jpg" alt="">
                    <h4>Sunzel Flare Leggings</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$28.99</p>
                </div>
                <div class="col-4">
                    <img src="../img/sweat_hoodie.jpg" alt="">
                    <h4>Womens Oversized Hoodies</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$36.99</p>
                </div>
                <div class="col-4">
                    <img src="../img/blazer.jpg" alt="">
                    <h4>Blazer de rayas de otoño e invierno</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$45.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="../img/pants.jpg" alt="">
                    <h4>Sunzel Flare Leggings</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$28.99</p>
                </div>
                <div class="col-4">
                    <img src="../img/sweat_hoodie.jpg" alt="">
                    <h4>Womens Oversized Hoodies</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$36.99</p>
                </div>
                <div class="col-4">
                    <img src="../img/blazer.jpg" alt="">
                    <h4>Blazer de rayas de otoño e invierno</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$45.00</p>
                </div>
            </div>     
         </div>
         <!--offer-->
         <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="../img/amazfit5.png" alt="" class="offer-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusively Available on Du(c)kes</p>
                        <h1>Amazfit Tracker Band 5 - Naranja</h1>
                        <small>Monitor de frecuencia cardíaca, GPS, monitor de saturación de oxígeno en sangre, seguimiento de estrés, rastreador de distancia, reloj despertador, monitor de sueño, monitor de respiración, reproductor de música</small>
                        <br> <a href="" class="btn">Buy now &#8594;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <img src="../img/sonic_icon.png">
                        <h3>Sean Parker</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <img src="../img/palutena_icon.jpg">
                        <h3>Arturo Palomo</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <img src="../img/pit_icon.png">
                        <h3>Gabriela Villalon</h3>
                    </div>
                </div>
            </div>
        </div>  

        <!--Brands-->
        <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-5">
                        <img src="../img/adidas.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="../img/skechers.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="../img/nike.png" alt="">
                    </div>
                    <div class="col-5">
                        <img src="../img/bershka.jpg" alt="">
                    </div>
                    <div class="col-5">
                        <img src="../img/flexi.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="footer">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Donwload App for Android and iOS mobile phone</p>
                </div>
                <div class="footer-col-2">
                    <img src="">
                    <p>Our purpose is to sustainably make the pleasure and benefits of clothes accesible to everyone</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links:</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us:</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>X</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>


